body{
  background: #141414;
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.header{
  height: 70px;
  position: relative;
}

.mainView{
position: relative;
min-height: 1000px;
z-index: 0;
}

.topContainer{
  background-color: black;
  height: 37vw;
  position: relative;
  padding: 18px 0 12px 4%;
  top: 0;
  left: 0;
  right: 0;
}
