body{
  background: #141414;
  color: #fff;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.header{
  height: 70px;
  position: relative;
}

.innerHeader{
  padding: 0 3.5%;
  position: fixed;
  z-index: 100;
}

.backgroundColorHeader{
  width: 100%;
  height:70px;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
}

.logo{
  position: absolute;
  width: 125px;
  padding: 5px 0;
  cursor: pointer;
}

.mainView{
position: relative;
min-height: 1000px;
z-index: 0;
}

.topContainer{
  background-color: black;
  height: 37vw;
  position: relative;
  padding: 18px 0 12px 4%;
  top: 0;
  left: 0;
  right: 0;
}

.topMenuWrapper{
  position: fixed;
  padding-left: 135px;
}

.topMenuLeft{
  padding-left:4%;
  width: 102%;
}

.topMenuLeft span{
  padding: 0 25px;
}

.browseRed{
  color: #e50914;
  font-weight: 700;
}
